// Colors

$main-color-one: #f2f2f3;
$main-color-two: #1e1546;
$white: #ffffff;
$black: #000000;
$red: #ff000e;
$orange: #ff9900;
$purple: #ba00ff;
$green: #1ed700;
$yellow: #ffd300;
$blue: #00adff;
$warning-bg-color: #ffffe3;
$warning-border-color: #ffe58d;
$button-bg-color: #3056ff;

// Sizes

$ms: 1.618;
$base-font-size: 16px;
