@import "partials/params";
@import "partials/mixins";

//Шрифт

@font-face {
  font-family: "Avenir Next Regular";
  src: url(fonts/AvenirNext-Regular.ttf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(fonts/AvenirNext-Bold.ttf);
}

/* Базовые стили */

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  @include font-normal;
  font-size: $base-font-size;
  line-height: $ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

/* Боковая панель */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 88px;
  height: 100%;
  background-color: $main-color-two;
  color: $white;
  & .logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    & span {
      @include font-bold;
      font-size: $base-font-size * 3 * $ms;
    }
  }
  &__apps {
    @include clear;
    margin-top: 26px;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
  }
  &__app {
    display: flex;
    box-sizing: border-box;
    margin-top: 18px;
    padding: 17px;
    list-style-type: none;
    list-style: none;
    border-radius: 25%;
    cursor: pointer;

    &--red {
      background-color: $red;
      position: relative;
      @include sidebar-tooltip;
    }

    &--orange {
      background-color: $orange;
      position: relative;
      @include sidebar-tooltip;
    }
    &--purple {
      background-color: $purple;
      position: relative;
      @include sidebar-tooltip;
    }
    &--green {
      background-color: $green;
      position: relative;
      @include sidebar-tooltip;
    }
  }
  &__avatar {
    @include clear;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 25px;
    left: 14px;
    cursor: pointer;
    & img {
      box-sizing: border-box;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  & .sub-menu {
    @include clear;
    display: none;
    position: absolute;
    list-style-type: none;
    list-style: none;
    background-color: $white;
    left: 74px;
    bottom: -2px;
    padding: 5px 0;
    z-index: 99999;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(38, 38, 38, 0.7);
    &__item {
      display: flex;
      position: relative;
      flex-grow: 100%;
      box-sizing: border-box;
      list-style-type: none;
      list-style: none;
      width: 100%;
      padding: 1px 0 1px 30px;
      &:hover {
        background-color: $main-color-one;
      }
      & a {
        display: flex;
        text-decoration: none;
        color: $black;
      }
    }
    &__status {
      position: absolute;
      top: 8px;
      left: 11px;
      box-sizing: border-box;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      &--on {
        background-color: $green;
      }
      &--busy {
        background-color: $yellow;
      }
      &--off {
        background-color: $red;
      }
    }
    &__line {
      box-sizing: border-box;
      background-color: $black;
      width: 90%;
      height: 1px;
      margin: 5px auto;
      opacity: 0.1;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 0;
      width: 0;
      bottom: 25px;
      left: -7px;
      z-index: 9999;
      border-right: 7px solid $white;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }

  & .main-item:focus ~ .sub-menu,
  .main-item:active ~ .sub-menu,
  .sub-menu:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 200px;
  }
}

.status {
  position: absolute;
  bottom: 0;
  right: 3px;
  border: 2px solid $main-color-two;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  &--on {
    background-color: $green;
  }
  &--busy {
    background-color: $yellow;
  }
  &--off {
    background-color: $red;
  }
}

/* Основной контент */

/* Header */

.main {
  @include clear;
  display: flex;
  flex-direction: column;
  width: 100%;
  & .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background: $white;
    box-shadow: 0px 0px 8px rgba(38, 38, 38, 0.5);
    z-index: 100;
    & .container-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      width: 100%;
      padding: 0 12px;
      & h1 {
        @include clear;
        @include font-bold;
        display: flex;
        font-size: $base-font-size;
        align-items: center;
      }
    }
    &__nav {
      @include clear;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      list-style: none;
    }
    & .nav__item {
      margin-left: 20px;
    }
    & .nav__button {
      position: relative;
      top: 3px;
      margin-left: 20px;
      background-size: cover;
    }
    & .nav__link {
      text-decoration: none;
      color: $black;
      & span {
        background-color: $red;
        color: $white;
        padding: 0 5px;
        border-radius: 20%;
      }
    }
  }
}

/* Контент */

.content {
  display: flex;
  background-color: $main-color-one;
  height: 100%;
  width: 100%;
  z-index: 1;
  & .container-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  & .search {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 315px;
      padding: 6px 0px 6px 46%;
      border: none;
      border-bottom: 1px solid rgba(117, 117, 117, 0.5);
      color: rgba(98, 98, 98, 0.5);
      outline: none;
      z-index: 9999;
      background: url("./img/search.svg") no-repeat 39%;
      background-size: 16px;
    }
  }
}

.app__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 30px auto 0;
  max-width: 800px;
}

.app__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 45px 30px 0;
  cursor: pointer;
}

.app__logo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: $blue;
}

.app__name {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  line-height: 1;
}
