@import "partials/params";
@import "partials/mixins";

//Шрифт

@font-face {
  font-family: "Avenir Next Regular";
  src: url(fonts/AvenirNext-Regular.ttf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(fonts/AvenirNext-Bold.ttf);
}

/* Базовые стили */

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  @include font-normal;
  font-size: $base-font-size;
  line-height: $ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

/* Боковая панель */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 88px;
  height: 100%;
  background-color: $main-color-two;
  color: $white;
  & .logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    & span {
      @include font-bold;
      font-size: $base-font-size * 3 * $ms;
    }
  }
  &__apps {
    @include clear;
    margin-top: 26px;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
  }
  &__app {
    display: flex;
    box-sizing: border-box;
    margin-top: 18px;
    padding: 17px;
    list-style-type: none;
    list-style: none;
    border-radius: 25%;
    cursor: pointer;

    &--red {
      background-color: $red;
    }

    &--orange {
      background-color: $orange;
    }
    &--purple {
      background-color: $purple;
    }
    &--green {
      background-color: $green;
    }
  }
  &__avatar {
    @include clear;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 25px;
    left: 14px;
    cursor: pointer;
    & img {
      box-sizing: border-box;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
}

.status {
  position: absolute;
  bottom: 0;
  right: 3px;
  border: 2px solid $main-color-two;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  &--on {
    background-color: $green;
  }
  &--busy {
    background-color: $yellow;
  }
  &--off {
    background-color: $red;
  }
}

/* Основной контент */

/* Header */

.main {
  @include clear;
  display: flex;
  flex-direction: column;
  width: 100%;
  & .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background: $white;
    box-shadow: 0px 0px 8px rgba(38, 38, 38, 0.5);
    & .container-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      width: 100%;
      padding: 0 12px;
      & h1 {
        @include clear;
        @include font-bold;
        display: flex;
        font-size: $base-font-size;
        align-items: center;
      }
    }
    &__nav {
      @include clear;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      list-style: none;
    }
    & .nav__item {
      margin-left: 20px;
    }
    & .nav__button {
      position: relative;
      top: 3px;
      margin-left: 20px;
      background-size: cover;
    }
    & .nav__link {
      text-decoration: none;
      color: $black;
      & span {
        background-color: $red;
        color: $white;
        padding: 0 5px;
        border-radius: 20%;
      }
    }
  }
}
